build/
doc-files/
poetrytex-*
source/*
test.*
.DS_Store
.sass-cache
Thumbs.db
Desktop.ini
.directory
*~
.*
!.gitignore
.*.sw[a-z]
*.un~
Session.vim
docs
node_modules
temp
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.sty
gitrev.tex
gituncommitted.tex
gitdirty.tex
*.pdf
*.zip
README
